In [ ]:
print("This line will be printed")

This line will be printed

In [ ]:
name ='John'
age=23
print("%s is %d years old"%(name,age))

John is 23 years old

In [ ]:
name=input()
age=int(input())
print(f'{name} is {age} years old')

Sajeeb
22
Sajeeb is 22 years old

In [ ]:
## lab task
print(f'1 week = {7*24*60*60} seconds')

1 week = 604800 seconds

In [ ]:
name=input()
basic=float(input("Enter your salary: "))
houseRent=0.5*basic
medical=float(input("Enter value: "))
net_salary=basic+houseRent+medical
print(f'{name} earns Tk. {net_salary}')

Sajeeb
Enter your salary: 50000
Enter value: 5000
Sajeeb earns Tk. 80000.0

In [ ]:
print(id(net_salary))
print(type(net_salary))
print(isinstance(net_salary,int))

140507995333200
<class 'float'>
False

In [ ]:
a = 1000
b = 1000
c = a
print(a==b)
print(a is b)
print(id(a))
print(id(b))
print(id(c))

True
False
140507873611664
140507873608784
140507873611664

In [ ]:
p = 20
q = 10
r = p>q
print(r)
print(type(r))

True
<class 'bool'>

In [ ]:
marks=float(input())
if marks>=90:
  grade ="A"
elif marks>=80 and marks<90:
  grade = "B"
else:
  grade = "C"
print(f'Grade is {grade}')

90
Grade is A

In [ ]:
i = 1
while i < 11:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10

In [ ]:
a = int(input())
b = int(input())
i = 1
while i<=a and i<=b:
  if a%i==0 and b%i==0:
    gcd=i
  i=i+1
print(gcd)

8
12
4

In [ ]:
def square(a):
  return a**2
a=int(input())
print(square(a))

5
25

In [ ]:
list1=[1,2,3,4,5]
list1[-5: :3]

[1, 4]