In [ ]:
3# Using python as a Calculator

In [ ]:
2+2

4

In [ ]:
50-5*6

20

In [ ]:
8/5  #Divison always return floating point

1.6

In [ ]:
17/3

5.666666666666667

In [ ]:
17//3 #floor division discard the fractional part

5

In [ ]:
17%3 # % returns the remainders

2

In [ ]:
5 ** 2 # square of 5

25

In [ ]:
2 ** 7 # 2 to the power 7

128

##The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [ ]:
width = 20
height = 5 * 9
width * height

900

In [ ]:
4 * 3.75 - 1

14.0

In [ ]:
tax = 12.5 /100
price = 100.50
tax * price

12.5625

In [ ]:
price + _

113.0625

In [ ]:
round(_,2)

113.06

## Text

In [ ]:
'spam eggs' # Single quote
"Paris rabbit got your back :)! Yay!" # Double Quotes
'2023' # digit and number enclosed in quotes are also string

'2023'

In [ ]:
s = 'First Line.\nSecond Line'
s

'First Line.\nSecond Line'

In [ ]:
print(s)

First Line.
Second Line

In [ ]:
print('C\some\name') # Here n means new line

C\some
ame

In [ ]:
print(r'C\some\name')

C\some\name

In [ ]:
3 * 'un' +'ium' # Strings can be concatenated with + operator and repeated with * operator

'unununium'

In [ ]:
'py' 'thon'

'python'

In [ ]:
prefix = 'py'
prefix + 'thon'

'python'

##Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'
word[0] # character in position 0

'P'

In [ ]:
word[5] # character in position 5

'n'

In [ ]:
print(word[-1]) # last character
print(word[-2]) # second last character
print(word[-6])

n
o
P

### Slicing

In [ ]:
word[0:2] #character from 0 to 2 position [0 included, 2 excluded]

'Py'

In [ ]:
word[2:5]

'tho'

In [ ]:
word[:2] # character from 0 to 2 position( 2 excluded )

'Py'

In [ ]:
word[4:] # character from 4 to the end

'on'

In [ ]:
word[-2:] # character from second last character to end character

'on'

In [ ]:
word[:2] + word [2:]

'Python'

In [ ]:
#  +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#  0   1   2   3   4   5   6
# -6  -5  -4  -3  -2  -1

#### * Pyhton strings cannot be change they are immutables.

word[0] = 'J'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-41-91a956888ca7> in <cell line: 1>()
----> 1 word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [ ]:
# len use for find the length of a string
len(word)

6

## List

In [ ]:
squares = [1,4,9,16]
squares

[1, 4, 9, 16]

### Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
squares[0]

1

In [ ]:
squares[3]

16

In [ ]:
squares[-1]

16

In [ ]:
squares[-3]

4

In [ ]:
squares[-3:]

[4, 9, 16]

In [ ]:
squares[:]

[1, 4, 9, 16]

In [ ]:
## Unlinke string lists are mutables types

In [ ]:
cubes = [1,8,27,65,125]
cubes

[1, 8, 27, 65, 125]

In [ ]:
cubes[3] = 64

In [ ]:
cubes

[1, 8, 27, 64, 125]

In [ ]:
## We can add new items to the end of the list using append()

In [ ]:
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216]

In [ ]:
cubes

[1, 8, 27, 64, 125, 216]

In [ ]:
cubes[2:5]

[27, 64, 125]

In [ ]:
cubes[:] = []

In [ ]:
cubes

[]

### Nested List

In [ ]:
a = ['a','b','c']

In [ ]:
b = [1,2,3]
x = [a,b]

In [ ]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[0][1]

'b'

## 3.2. First Steps Towards Programming

In [ ]:
a,b = 0,1
while a<10:
  print(a)
  a,b = b,a+b

0
1
1
2
3
5
8

In [ ]:
i = 256 * 256
print("The value of i is: ", i)

The value of i is:  65536

In [ ]:
a,b = 0,1
while a<100:
  print(a,end = ' , ')
  a,b = b, a+b

0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 ,

In [ ]:
x = int(input("Enter the number: "))
if x < 0:
  x = 0
  print("Negative changed to zero")
elif x == 0:
  print("Number is zero")
elif x == 1:
  print("Number is Single")
else:
  print("More")

Enter the number: 1
Number is Single

In [ ]:
x = 20
y = 10
r = x+y
print(r)

30

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter 2nd number: "))

r = x + y
s = x-y
m = x * y
d = x/y
print("Sum: ",r)
print("Sub: ",s)
print("Mul: ",m)
print("Div: ",d)

Enter first number: 5
Enter 2nd number: 3
Sum:  8
Sub:  2
Mul:  15
Div:  1.6666666666666667

In [ ]:
a,b = 0,1
while a<100:
  print(a)
  a,b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
for i in range(1,11):
    print( 2 ** i)

2
4
8
16
32
64
128
256
512
1024

In [ ]:
name = 'Tamanna'
len(name)

7

In [ ]:
fruits = ['Mango','Litchi','Banana']
for word in fruits:
  print(word, len(word))

Mango 5
Litchi 6
Banana 6

In [ ]:
width = 10
length = 12
height = 5
area = width * length * height
print(area)

600

In [ ]:
z = len(fruits[0])
print(z)
fruits[1][1:5]

5

'itch'

In [ ]:
users = {'Sajeeb':'Active', 'Shanto': 'Inactive', 'Tamanna':'Active'}
for x,y in users.copy().items():
  if y == 'Inactive':
    del users[x]

In [ ]:
users

{'Sajeeb': 'Active', 'Tamanna': 'Active'}

In [ ]:
active_users = {}
for x, y in users.items():
  if y=='Active':
    active_users[x] = y

active_users

{'Sajeeb': 'Active', 'Tamanna': 'Active'}

Range Function

In [ ]:
for i in range (5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,3)) #range(start,end,gap)

[0, 3, 6, 9]

In [ ]:
a = ['Sajeeb', 'had', 'a','little', 'lamb']
for i in range(len(a)):
  print(a[i])

Sajeeb
had
a
little
lamb

In [ ]:
sum(range(4))

6

Find Prime Number

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

Sum of all items in a list

In [ ]:
numbers = [2,4,1,7,6,3]

sum = 0
for number in numbers:
  sum = sum+ number
print("Sum of numbers list: ",sum)

Sum of numbers list:  23

Multiply all the items in a list

In [ ]:
mul = 1
for number in numbers:
  mul = mul * number

print("Multiply of list items: ",mul)

Multiply of list items:  1008

Find the largest from the list

In [ ]:
largest = numbers[0]
for number in numbers:
  if number > largest:
    largest = number


print("Largest Number is : ",largest)

Largest Number is :  7

Find smallest from the list items

In [ ]:
smallest = numbers[0]
for number in numbers:
  if number < smallest:
    smallest = number

print("Smallest Number in the items: ", smallest)

Smallest Number in the items:  1

Sorting in list items

In [ ]:
n = len(numbers)
for i in range(n):
    for j in range(0, n-i-1):
        if numbers[j] > numbers[j+1]:
            # Swap elements if they are in the wrong order
            numbers[j], numbers[j+1] = numbers[j+1], numbers[j]

print("Sorted list:", numbers)

Sorted list: [1, 2, 3, 4, 6, 7]

Remove Duplicate

In [ ]:
lists = [1,1,3,4,5,6,5]

new_list = []
for number in lists:
  if number not in new_list:
    new_list.append(number)
print(new_list)

[1, 3, 4, 5, 6]

Swapping Numbers

In [ ]:
num1 = 20
num2 = 30

print(f"Num1 is {num1} and Num2 is {num2} ")

temp = num1
num1 = num2
num2 = temp

print(f"Num1 is {num1} and Num2 is {num2} ")

Num1 is 20 and Num2 is 30
Num1 is 30 and Num2 is 20

Check whether number is Prime or not

In [ ]:
number = int(input("Enter Number you want to check: "))
count = 0
for i in range(2,number):
    if number % i ==0:
      count = count + 1

if (count != 0):
  print(f'{number} is not prime')
else:
  print(f'{number} is prime')

Enter Number you want to check: 5
5 is prime

Find Factorial of a number

In [ ]:
num = int(input("Enter the number: "))
fac = 1
for i in range(1,num+1):
  fac = fac * i

print(f'Factorial of {num} is {fac}')

Enter the number: 4
Factorial of 4 is 24

In [ ]:
number_list = [2,3,4,6,9,8]
number_fac_list = []

for i in range(len(number_list)):
  fac = 1
  for j in range(1,number_list[i]+1):
    fac = fac * j
  number_fac_list.append(fac)
print(number_fac_list)

[2, 6, 24, 720, 362880, 40320]

Fibonacci Number

In [ ]:
a,b = 0,1
while a < 10:
  print(a)
  a, b = b, a+b

0
1
1
2
3
5
8

Find Maximum and Minimum

In [ ]:
numbers = [17,4,19,23,5,26,25]
max = numbers[0]
min = numbers[0]
for i in range(len(numbers)):
  if numbers[i] > max:
    max = numbers[i]
  if numbers[i] < min:
    min = numbers[i]
print("Maximum Number: ",max)
print("Minimum Number: ",min)

Maximum Number:  26
Minimum Number:  4

Length of a list

In [ ]:
length = 0
for number in numbers:
  length = length + 1
print("Length of the list: ",length)

Length of the list:  7

Swap between first element and last element in list

In [ ]:
temp = numbers[0] # 17
numbers[0] = numbers[length-1] #26
numbers[length-1] = temp #17


print("New List: ",numbers)

New List:  [25, 4, 19, 23, 5, 26, 17]

In [ ]:
numbers[0], numbers[-1] = numbers[-1],numbers[0]
print(numbers)

[17, 4, 19, 23, 5, 26, 25]

In [ ]:
first, *second ,third = numbers
print(second)
start, * middle , end = second
print(middle)
second = [end, *middle, start]
print(second)
numbers = [third, *second, first]

print(numbers)

[4, 19, 23, 5, 26]
[19, 23, 5]
[26, 19, 23, 5, 4]
[25, 26, 19, 23, 5, 4, 17]

Swap any Two Elements based on position

In [ ]:
print(numbers)
pos1 = int(input("Enter the first position index you want to swap: "))
pos2 = int(input("Enter the position index you want to swap: "))

numbers[pos1], numbers[pos2] = numbers[pos2], numbers[pos1]
print(numbers)

[25, 26, 19, 23, 5, 4, 17]
Enter the first position index you want to swap: 2
Enter the position index you want to swap: 3
[25, 26, 23, 19, 5, 4, 17]

Remove Value on nth occurence

In [ ]:
new_list = ['geeks','for','geeks']
word = 'geeks'
n = 2
count = 0
for i in range(0,len(new_list)):
  if new_list[i] == word:
    count = count + 1
    if(count == n):
      del new_list[i]
new_list

['geeks', 'for']

Searching

In [ ]:
n = int(input("Enter the number you want to search: "))
c = 0
for i in range(0,length):
  if numbers[i] == n:
    c = 1
    break

if c == 1:
  print(f'{n} found in index no. {i}')
else:
  print(f'{n} is not in the list')

Enter the number you want to search: 23
23 found in index no. 2

Clear a list

In [ ]:
mylist = [1,2,3,4,5,6]
del mylist[3:4]
mylist

[1, 2, 3, 5, 6]

Reverse list value

In [ ]:
mylist[::-1]

[6, 5, 3, 2, 1]

Count occurence in a list

In [ ]:
number_list = [10,2,10,3,10,5,10,7,2]
x = 2
count = 0
for number in number_list:
  if x == number:
    count = count + 1
print(f'{x} occurence in list {count} times')

2 occurence in list 2 times

using Counter

In [ ]:
z = 10
from collections import Counter
diction = Counter(number_list)
diction
print("{} occured {} times".format(z,diction[z]))

10 occured 4 times

2nd largest number in a list

In [ ]:
lists = [10,24,45,99,70]
lists.sort()
lists

[10, 24, 45, 70, 99]